{% extends 'base.html.twig' %}

{% block title %}Modifier une annoncet{% endblock %}

{% block body %}
    <h1>Modifier une annonce</h1>

    <div class="d-flex justify-content-center">

        {{ include('post/_form.html.twig', {'button_label': 'Modifier'}) }}
            
    </div>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
