{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% block body %}
    <h1>Modifier une annonce</h1>

        {{ include('post/_form.html.twig', {'button_label': 'Modifier'}) }}
            
    </div>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
