{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce{% endblock %}

{% block body %}

    <h1>Déposer une annonce</h1>

    <div class="d-flex justify-content-center">
        {{ include('post/_form.html.twig') }}     
    </div>

{% endblock %}
