{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

    <link href="{{ asset('assets/css/post.css') }}" rel="stylesheet"/>

    <h1>Create new Post</h1>

    <h2>Déposer une annonce</h2>

    <div class="d-flex justify-content-center">

        {{ include('post/_form.html.twig') }}
            
    </div>

    {# <a href="{{ path('app_post_index') }}" class="retour">&#8592 Retour</a> #}
{% endblock %}
