{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ post.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ post.price }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="col">


    </div>

    <div class="row">
        <div class="col">

            <img src="https://images.unsplash.com/photo-1666155545465-39c112c85e9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2023&q=80" alt="Photo">
    
    
    
        </div>

        <div class="col">

            <div class="col card ml-3 mr-3">

                <span>{{ post.name }}</span>

            </div>

            <div class="col card">

                <span> {{ post.description }}</span>

            </div>
    
    
        </div>
    
    
    </div>

    <div class="row d-flex align-items-end">

        <div class="col-auto">

            
        </div>


    </div>

    <a href="{{ path('app_post_index') }}">back to list</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
