{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<link href="{{ asset('assets/css/home.css') }}" rel="stylesheet"/>

{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

<div class="example-wrapper">
    <p>Devenez acteurs d'une consommation  raisonnée  <br>
        Ici vous trouverez votre bonheur : Seconde main, réemploi, reconditionnement ou  <br>
        encore réparation... 
    </p>

    <div class="rectangle">
        <div class="dropdown">
            <button class="dropbtn">Catégorie</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Prix</button>
            <div class="dropdown-content">
                <a href="#">> 100</a>
                <a href="#">> 150</a>
                <a href="#">> 200</a>
            </div>
        </div>
        {# <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-1" type="search" placeholder="Recherche..." aria-label="Search">
            <button type="submit">🔍</button> 
            class="btn btn-outline-success my-2 my-sm-0"
        </form> #}
    </div>
</div>
{% endblock %}
